<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>U</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>7</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>F</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>I</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>L</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>N</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>T</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>7</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>V</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>W</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>X</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Y</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>Z</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>U</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>F</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>I</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>L</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>N</key>
		<dict>
			<key>x</key>
			<integer>2</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>T</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>V</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>W</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>X</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Y</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>Z</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>U</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>F</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>I</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>L</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>N</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>9</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>T</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>V</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>W</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>2</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>X</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Y</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>Z</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
	</dict>
	<dict>
		<key>U</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>9</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>F</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>I</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>L</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>7</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>N</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>T</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>V</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>W</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>X</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Y</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Z</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
	</dict>
	<dict>
		<key>U</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>9</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>F</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>I</key>
		<dict>
			<key>x</key>
			<integer>10</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>L</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>N</key>
		<dict>
			<key>x</key>
			<integer>6</integer>
			<key>y</key>
			<integer>3</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>P</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<true/>
		</dict>
		<key>T</key>
		<dict>
			<key>x</key>
			<integer>5</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>V</key>
		<dict>
			<key>x</key>
			<integer>8</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>3</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>W</key>
		<dict>
			<key>x</key>
			<integer>7</integer>
			<key>y</key>
			<integer>8</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>X</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>4</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Y</key>
		<dict>
			<key>x</key>
			<integer>3</integer>
			<key>y</key>
			<integer>5</integer>
			<key>rotations</key>
			<integer>0</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
		<key>Z</key>
		<dict>
			<key>x</key>
			<integer>4</integer>
			<key>y</key>
			<integer>6</integer>
			<key>rotations</key>
			<integer>1</integer>
			<key>isFlipped</key>
			<false/>
		</dict>
	</dict>
</array>
</plist>
